*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;

	font-size: 62.5%; 
	/* 1em = 10px */
}
.wrapper{
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../img/bg.jpg);
	position: relative;
}
header{
	width: 100%;
	height: 6.8%;
	background-color: rgba(73, 71, 61,0.9);
}
header .logo{
	width: 6.875%;
	height: 6.8%;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../img/logo.png);
	position: absolute;
	left: 32.70833%;
}
header .enter{
	width: 5.3125%;
	height: 6.8%;
	text-align: center;
}
header .enter >p{
	padding-top: 1.2em;
	font-size: 1.2em;
	font-family: "微软雅黑";
	color: #989891;
	position: absolute;
	left: 62.5%;
}
.left,.mid,.right{
	width: 4.427%;
	height: 16.3%;
	position: absolute;
	top: 53.2%;
}
.wrapper .left{
	left: 33.072%;
	background-image: url(../img/chu1.png);
	background-size: 100% 100%;
	background-position: center;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in ;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition:  0.3s ease-in;

}
.wrapper .left:hover{
	background-image: url(../img/chu2.png);
}
.wrapper .mid{
	left: 47.7604%;
	background-image: url(../img/zai1.png);
	background-size: 100% 100%;
	background-position: center;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in ;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition:  0.3s ease-in;
}
.wrapper .mid:hover{
	background-image: url(../img/zai2.png);
}
.wrapper .right{
	left: 62.5%;
	background-image: url(../img/jin1.png);
	background-size: 100% 100%;
	background-position: center;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in ;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition:  0.3s ease-in;
}
.wrapper .right:hover{
	background-image: url(../img/jin2.png);
}
footer{
	width: 100%;
	height: 11.5%;
	background-color: #2b2b2b;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
}
footer >.logo_2{
	width: 10%;
	height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../img/logo2.png);
}
footer .copyright{

	font-size: 2em;
	font-family: "宋体";
	color: #ffffff;
}
footer .copyright>p{
	white-space:pre;
}