*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;

	font-size: 62.5%; 
	/* 1em = 10px */
}
a{
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: 0.1s ease-in;
	-moz-transition: 0.1s ease-in ;
	-ms-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	transition:  0.1s ease-in;
}
a:hover{
	color: #da7f5b;
	cursor: pointer;
}
.wrapper{
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../img/bg.jpg);
	position: relative;
}
header{
	width: 100%;
	height: 6.8%;
	background-color: rgba(73, 71, 61,0.9);
}
header .logo{
	width: 6.875%;
	height: 6.8%;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../img/logo.png);
	position: absolute;
	left: 32.70833%;
}
header .enter{
	width: 6.3125%;
	height: 6.8%;
	text-align: center;
	position: absolute;
	left: 62.5%;
}
header .enter >a>p{
	padding-top: 1.2em;
	font-size: 2em;
	font-family: "微软雅黑";
	color: #989891;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.wrapper .left{
	left: 33.072%;
	background-image: url(../img/chu1.png);
	background-size: 100% 100%;
	background-position: center;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in ;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition:  0.3s ease-in;

}
.wrapper .left:hover{
	background-image: url(../img/chu2.png);
}
.wrapper .mid{
	left: 47.7604%;
	background-image: url(../img/zai1.png);
	background-size: 100% 100%;
	background-position: center;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in ;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition:  0.3s ease-in;
}
.wrapper .mid:hover{
	background-image: url(../img/zai2.png);
}
.wrapper .right{
	left: 62.5%;
	background-image: url(../img/jin1.png);
	background-size: 100% 100%;
	background-position: center;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in ;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition:  0.3s ease-in;
}
.wrapper .right:hover{
	background-image: url(../img/jin2.png);
}
.open_window{cursor: pointer;}
.li_meet,.window1{
	position: absolute;
	top: 0;
	width: 100%;
	height: 88.5%;
	background-color: rgba(15,15,14,0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.li_meet li,.window1 li{list-style: none;}
.li_meet .h2-zi{
	width: 9.375%;
	height: 6.5536%;
	background-image: url(../img/chuxiangshi.png);
	background-size: 100% 100%;
	background-position: center;
}
.window1 .h2-zi{
	width: 12.375%;
	height: 8.0536%;
	background-size: 100% 100%;
	background-position: center;
}
.back{
	font-size: 3em;
	font-family: "微软雅黑";
	color: #ffffff;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in ;
	-ms-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition:  0.2s ease-in;
}
.back:hover{
	font-size: 3.2em;
}
.li_meet .content,.window1 .content{
	width: 16.333%;
	margin: 2.4327% 1%;
	font-size: 2.5em;
	font-family: "微软雅黑";
	color: #ffffff;
}
.li_meet .content>li{
	margin: 4% 0;
	padding-left:25%;
}

/* .li_meet .content>li:hover,.window1 .content>li:hover{
	color: #da7f5b;
	cursor: pointer;
} */
.window1 .content>ol>li:hover{
	color: #da7f5b;
	cursor: pointer;
}
.li_meetagain{
	position: absolute;
	top: 0;
	width: 100%;
	height: 88.5%;
	background-color: rgba(15,15,14,0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.li_meetagain .h2-zi{
	background-image: url(../img/zaixiangyu.png);
}
.li_meetagain .content>ol{
	margin-left: -22%;
}
.li_meetagain .content>ol>li{
	margin: 15% 0;
	width: 150px;
	height: auto;
	-webkit-transition: 0.1s ease-in;
	-moz-transition: 0.1s ease-in ;
	-ms-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	transition:  0.1s ease-in;
}
.li_meetagain .content{
	display: flex;
	justify-content: space-between;
}
.li_meetagain .content .content2{
	margin-left: 15%;
}
.li_future{
	position: absolute;
	top: 0;
	width: 100%;
	height: 88.5%;
	background-color: rgba(15,15,14,0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.li_future .h2-zi{
	background-image: url(../img/jinweilai.png);
}
.li_future .content>ol{
	margin-left: -22%;
}
.li_future .content>ol>li{
	margin: 15% 0;
	width: 150px;
	height: auto;
	-webkit-transition: 0.1s ease-in;
	-moz-transition: 0.1s ease-in ;
	-ms-transition: 0.1s ease-in;
	-o-transition: 0.1s ease-in;
	transition:  0.1s ease-in;
}
.li_future .content{
	display: flex;
	justify-content: space-between;
}
.li_future .content .content2{
	margin-left: 15%;
}
footer{
	width: 100%;
	height: 12%;
	background-color: #2b2b2b;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
}
footer >.logo_2{
	width: 10%;
	height: 100%;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../img/logo2.png);
}
footer .copyright{

	font-size: 2em;
	font-family: "宋体";
	color: #ffffff;
}
footer .copyright>p{
	white-space:pre;
}
@media screen and (min-width: 1400px) {
   .left,.mid,.right{
   	width: 4.427%;
   	height: 16.3%;
   	position: absolute;
   	top: 53.2%;
   }
   .wrapper .shu1{
   	width: 1px;
   	height: 16.3%;
   	position: absolute;
   	left: 42.3958%;
   	top: 53.2%;
   	background-color: #c3c0b3;
   }
   .wrapper .shu2{
   	width: 1px;
   	height: 16.3%;
   	position: absolute;
   	left: 57.083%;
   	top: 53.2%;
   	background-color: #c3c0b3;
   }
}
@media screen and (max-width: 1399px) {
   .left,.mid,.right{
   	width: 5.427%;
   	height: 20.3%;
   	position: absolute;
   	top: 53.2%;
   }
   .wrapper .shu1{
   	width: 0.1%;
   	height: 20.3%;
   	position: absolute;
   	left: 42.3958%;
   	top: 53.2%;
   	background-color: #c3c0b3;
   }
   .wrapper .shu2{
   width: 0.1%;
   	height: 20.3%;
   	position: absolute;
   	left: 57.483%;
   	top: 53.2%;
   	background-color: #c3c0b3;
   }
}