*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background-image: url(../imges/beijing.jpg);
	position: relative;
	width: 100%;
	background-size: 100% 100%;
	background-position: center;
}
.sheji{
	width: 6.6146%;
	height: 19.1%;
	position: absolute;
	left: 24.947%;
	top: 70.1%;
}
.sheji>.picture{
	width: 100%;
	height: 66.5%;
	background-size: 100% 100%;
	background-image: url(../imges/sheji1.png);
}
.sheji>.picture:hover{
	width: 100%;
	height: 66.5%;
	background-size: 100% 100%;
	background-image: url(../imges/sheji2.png);
	cursor:pointer;
}
.sheji>p{
	width: 100%;
	font-size: 1.2em;
	font-family: "微软雅黑";
	margin-top: 16.7%;
	margin-left: auto;
	margin-right: auto;
}
.wangluo{
	width: 6.6146%;
	height: 19.1%;
	position: absolute;
	left: 46.5104%;
	top: 70.1%;
}
.wangluo>.picture{
	width: 100%;
	height: 66.5%;
	background-size: 100% 100%;
	background-image: url(../imges/wangluo1.png);
}
.wangluo>.picture:hover{
	width: 100%;
	height: 66.5%;
	background-size: 100% 100%;
	background-image: url(../imges/wangluo2.png);
	cursor:pointer;
}
.wangluo>p{
	width: 100%;
	font-size: 1.2em;
	font-family: "微软雅黑";
	margin-top: 16.7%;
	margin-left: auto;
	margin-right: auto;
}
.yanfa{
	width: 6.6146%;
	height: 19.1%;
	position: absolute;
	left: 68.4375%;
	top: 70.1%;
}
.yanfa>.picture{
	width: 100%;
	height: 66.5%;
	background-size: 100% 100%;
	background-image: url(../imges/yanfa1.png);
}
.yanfa>.picture:hover{
	width: 100%;
	height: 66.5%;
	background-size: 100% 100%;
	background-image: url(../imges/yanfa2.png);
	cursor:pointer;
}
.yanfa>p{
	width: 100%;
	font-size: 1.2em;
	font-family: "微软雅黑";
	margin-top: 16.7%;
	margin-left: auto;
	margin-right: auto;
}
