*{
	padding: 0;
	margin: 0;
}
nav{
	width: 60%;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	border-top: 5px solid #eaea11;
}
nav > ul{
	height: 100px;
	list-style: none;
}
nav > ul > li{
	width: 20%;
	height: 100px;
	float: left;
	background-color: #1ad1c1;
}
nav > ul > li > a {
	display: block;
	font-size: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 100px;
	text-align: center;
	display: block;
	font-size: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 100px;
	text-align: center;
	display: block;
	font-size: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 100px;
	text-align: center;
	display: block;
	font-size: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 100px;
	text-align: center;
	color: #4d4d4b;
}
nav > ul > li > a:hover{
	background-color: #1aa1c1;
}
nav > ul > li > ul{
	width: 100%;
	height: 200px;
	position: relative;
	list-style: none;
}
nav > ul > li > ul > li{
	width: 100%;
	height: 50px;
	background-color: #1ad1c1;
}
nav > ul > li > ul > li:hover{
	background-color: #1aa1c1
}

nav > ul > li > ul > li > a{
	text-decoration: none;
	display: block;
	font-size: 15px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 50px;
	text-align: center;
	color: #4d4d4b;
}